<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>morning1</string>
		<string>morning2</string>
	</array>
	<array>
		<string>lunch1</string>
		<string>lunch2</string>
	</array>
	<array>
		<string>evening</string>
	</array>
	<array>
		<string>lateNight1</string>
		<string>lateNight2</string>
	</array>
</array>
</plist>
